.header-container{
  height: 50px;
}
.menu-toggle {
  display: none;
}

.mobile-bar {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 25px;
  /*BAR HOW MUCH IN RIGHT*/
  width: 100%;
  height: 65px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.menu-icon {
  float: right;
  display: block;
  position: relative;
  width: 25px;
  height: 100%;
  cursor: pointer;
  transition: transform 300ms ease-in;
  /*the bar to X*/
}

.menu-icon > span {
  display: block;
  position: absolute;
  top: 55%;
  margin-top: -0.3em;
  width: 100%;
  height: 0.199em;
  border-radius: 1px;
  background-color: #696969;
  transition: transform 300ms ease-in;
}

.menu-icon > span:before,
.menu-icon > span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1px;
  background-color: #696969;
  transition: transform 300ms ease;
}

.menu-icon > span:before {
  transform: translateY(-0.6em);
}

.menu-icon > span:after {
  transform: translateY(0.6em);
}

/*need this for bringing down the examples*/

.menu-toggle:checked + .mobile-bar .menu-icon {
  transform: rotate(45deg);
}

.menu-toggle:checked + .mobile-bar span:before,
.menu-toggle:checked + .mobile-bar span:after {
  transform: rotate(90deg);
}

/*needed*/

.menu-toggle:checked ~ .header {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.header {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 60px;
  width: 100%;
  height: 100%;
  background-color: white;
  padding-right: 5.7px;
  color: #eee;
  transition: opacity 300ms ease-in, visibility 0s ease-in 300ms;
  box-shadow: 0 1px 15px -5px gray;
}

.header nav,
.header ul {
  height: 100%;
}

.header li {
  border-bottom: 1px solid #eee;
  color: #505050;
  /*text on navbar*/
  font-weight: 430;
  line-height: 2.4;
  /*height of the navbar*/
  font-size: 15px;
  letter-spacing: 0.2px;
  font-weight: 600;
}

.header li:hover {
  color: #696969;
  transition: color 300ms ease-in;
  cursor: pointer;
}

.header a {
  display: block;
  padding: 25px;
  transition: background-color 300ms ease-in;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand > img {
  height: 40px;
  width: auto;
  z-index: 10;
  position: fixed;
  top: 13.45px;
  left: 0;
  padding: 0 25px;
  /*BAR HOW MUCH IN RIGHT*/
  background-color: white;
}

.test {
  top: 0;
  width: 100%;
  position: fixed;
}

@media (min-width: 1000px) {
  .mobile-bar {
    display: none;
  }
  .header {
    z-index: 5;
    position: relative;
    left: 0;
    padding-top: 0;
    width: 100%;
    height: auto;
    overflow: auto;
    visibility: visible;
    opacity: 1;
    text-align: right;
  }
  .header li {
    display: inline-block;
    margin-right: -6px;
    /* fix the inline-block gap */
    border: none;
    text-align: left;
  }
  .header a {
    padding: 15px 35px;
    /*header height and text spacing*/
  }
}

a {
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}
.active {
  background-color: rgb(111, 137, 139);
  color: white;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*******************/

@media only screen and (max-width: 600px) {
  body[yahoo] .full_width_600 {
    width: 90% !important;
  }
}

@media only screen and (max-width: 700px) {
  body[yahoo] .full_width_700 {
    width: 100% !important;
  }
  body[yahoo] .txt_center {
    text-align: center !important;
  }
  body[yahoo] .separator {
    height: 40px !important;
  }
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0.9em 0;
  line-height: 1.5;
}
/* body {
  padding: 0px;
  margin: auto;
  background: rgb(0, 0, 0);
  font-family: system-ui;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
} */

.icon-img{
  width: 20%;
}
.sidebar-container {
  width: 100%;
  height: 100%;
  display: flex;
 
}

.sidebar {
  min-width: 200px;
  background: rgb(255, 255, 255);
  padding: 24px 24px 16px;
  display: flex;
  flex-direction: column;
  color: rgb(102, 112, 133);
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.sidebar-header {
  display: flex;
  gap: 8px;
  padding: 12px 10px;
  align-items: center;
}

.sidebar-body {
  display: flex;
  flex-direction: column;
}

.sidebar-body > a {
  text-decoration: none;
  padding: 10px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin: 4px 0px;
  color: rgb(102, 112, 133);
}

.sidebar-body > a.active,
.sidebar-body a:hover {
  background: rgb(242, 244, 247);
  color: rgb(29, 41, 57);
  border-radius: 8px;
}

.sidebar-body a:hover .count,
.sidebar-body > a.active .count {
  background: #1d2939;
  color: #ffffff;
}

.sidebar-body > a > div {
  display: flex;
  gap: 0.4rem;
}

.sidebar-body .count {
  background: rgb(242, 244, 247);
  padding: 2.5px 6px;
  color: rgb(52, 64, 84);
  border-radius: 6px;
}
.just{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
  padding-right: 20px;
  flex-wrap: wrap;
  width: 80%;
}
.below{
  display: flex;
  flex-direction: row;
  justify-content: start;
 
}

.below1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
 
}
