body {background-color:#fafafa}
.rounded {border-radius:0.4rem!important}
.rounded-top {border-radius:0.4rem 0.4rem 0 0!important}
.rounded-bottom {border-radius:0 0 0.4rem 0.4rem!important}

.custom-radio-login {position:relative}
.custom-radio-login input{display:none}
.custom-radio-login label{cursor:pointer;position:relative;box-shadow:0 0 0 2px transparent}

/* .main-container{

} */
.login-container {
    height: 100vh;
    background-color: rgb(79, 151, 185);
  
}
.login{
  background-color: rgb(169, 215, 223);
}

.card1{
    
  width: 40%;
  height: 40%;
}

.formm{
    height: 30% !important;
    width: 30% !important;
}
